{{#each collection.models }}
  <div class="project">
    <span class="project-left">
      <h2>
          {{ attributes.title }}
      </h2>
      <p>
        <a href="{{ attributes.link }}">
          {{ attributes.link }}
        </a>
      </p>
      <p>{{ attributes.description }}</p>
    </span>
    <span class="project-center">
      <img src="{{ attributes.first_image }}" width=55% class="image-thumbnail"/></br>
      <img src="{{ attributes.second_image }}" width=55% class="image-thumbnail"/></br>
      <img src="{{ attributes.third_image }}" width=55% class="image-thumbnail"/>
    </span>
    <span class="project-right">
      <img src="{{ attributes.first_image }}" width=100% class="big-image" />
    </span>
  </div>
{{/each}}